{% extends "Blog/base.html" %}
{% block content %}

<div class="content-section">
  <h3>Delete Post</h3>
    <div class="register-section">
        <form method="POST">
          {% csrf_token %}
            <div class="submit_button_container">
            <h2>Are You sure You want to delete this Post "{{ object.title }}"</h2>
              <button class="btn btn-outline-danger" type="submit"> Delete Post</button>
              <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}"> Cancel </a>
              <br>
            </div>
        </form>
    </div>
</div>

{% endblock content %}